.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
